{{ define "html-head" }}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" type="text/css" href="/css/globals.css">

    {{ block "google-fonts" . }}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        
    {{ end }}

    {{ block "htmx" .}}
        <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    {{ end }}

    {{ block "hyper-script" . }}
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    {{ end }}

    {{ block "here-api" . }}
        <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
        type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
        type="text/javascript" charset="utf-8"></script>
    {{ end }}


{{ end }}


{{ define "htmx-json" }} <script src="/js/htmx/json-enc.js"></script> {{ end }}
{{ define "htmx-ws" }} <script src="/js/htmx/ws.js"></script> {{ end }}
