{{ define "hub"}}

<!DOCTYPE html>

<html>


<head>
	<title>Chat Hub</title>

    {{ template "html-head" . }} 
    {{ template "htmx-json" . }}

    {{ template "detect-location" . }}

	<link rel="stylesheet" type="text/css" href="/css/hub.css">


</head>



<body>

    {{ template "top-header-bar" . }}

    <script>
        
    </script>

    <div class="welcome-msg">
        Find chats near you!
        <br>
        Please allow location. We promise to sell your data!
    </div>

    <hr>

    <div></div>

    <div class="user-location"
        hx-post="/locate-user"
        hx-trigger="load"
        hx-target="this"
        hx-swap="innerHTML"
        hx-vals="js:{'locationData': getLocationData()}"
        hx-ext="json-enc"
    >
        <img alt="Result loading..." class="htmx-indicator" width="150" src="/svg-loaders/circles.svg"/>

        <!-- <form>
            <li>Latitude: <span id="user-lat"></span> </li>
            <li>Longitude: <span id="user-long"></span> </li>
            <li>Accuracy: <span id="location-acc"></span> </li>
        </form> -->


    </div>



    <div style="text-align: center;">
        <form
            id="room-creation"
            hx-post="/hub/create-room"
            hx-ext="json-enc"
            hx-target=".user-rooms .rooms-container"
            hx-swap="afterbegin"
        >
            <label for="room-name">Create a room here: </label>
            <input type="text" 
                name="room-name" 
                placeholder="Room Title" 
                required
                minlength="4"
                maxlength="20"
            >

            <button type="submit"> Create room! </button>

        </form>
    </div>

    
    <div class="hub-chatrooms">
        <h4> Public Events Near you!</h4>

        <button type="button"
            hx-get="/hub/get-public-rooms"
            hx-trigger="load, click"
            hx-target="next .rooms-container"
            hx-swap="innerHTML"
        >
            Refresh Rooms
        </button>

        <br>

        <div
            class="rooms-container">
        </div>

    </div>


    <div class="user-rooms">
        <h4> Your Rooms </h4>
        

        <!-- TODO get user's rooms -->
        <div class="rooms-container"

        >
        </div>

    </div>



</body>

</html>



{{end}}


{{ define "hub-chatrooms"}}

    {{ range .Rooms }}

        {{ template "hub-chatroom-item" .Chatroom }}

    {{ end }}


{{ end }}


{{ define "hub-chatroom-item" }}


    <div 
        class="chatroom-item"
        hx-trigger="click"
        hx-post="/hub/join-room/{{ .RoomID }}"
        hx-ext="json-enc"
        hx-include="this"


    >
        <div id="chatroom-name">
            {{ .RoomName }}

        </div>

        <input type="hidden" name="room-id" value="{{ .RoomID }}">


    </div>

{{ end }}