{{ define "hub"}}

<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8">
	<title>Chat Hub</title>

	<link rel="stylesheet" type="text/css" href="/css/globals.css">
	<link rel="stylesheet" type="text/css" href="/css/hub.css">

    <script 
        src="https://unpkg.com/htmx.org@1.9.10" 
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" 
        crossorigin="anonymous">
    </script>

    <script src="/js/htmx/json-enc.js"></script>
    <script src="/js/listenerFunctions.js"></script>


</head>



<body>

    {{ template "top-header-bar" . }}


    <div class="welcome-msg">
        Find chats near you!
        <br>
        Please allow location. We promise to sell your data!
    </div>

    <hr>    

    <div style="text-align: center;">
        <form
            id="room-creation"
            hx-post="/hub/create-room"
            hx-ext="json-enc"
            hx-target=".user-rooms .rooms-container"
            hx-swap="afterbegin"
        >
            <label for="room-name">Create a room here: </label>
            <input type="text" 
                name="room-name" 
                placeholder="Room Title" 
                required
                minlength="4"
                maxlength="20"
            >

            <button type="submit"> Create room! </button>

        </form>
    </div>

    
    <div class="hub-chatrooms">
        <h4> Public Events Near you!</h4>

        <button type="button"
            hx-get="/hub/get-rooms"
            hx-trigger="load, click"
            hx-target="next .rooms-container"
            hx-swap="innerHTML"
        >
            Refresh Rooms
        </button>

        <br>

        <div
            class="rooms-container">
        </div>

    </div>


    <div class="user-rooms">
        <h4> Your Rooms </h4>
        

        <!-- TODO get user's rooms -->
        <div class="rooms-container"

        >
        </div>

    </div>



</body>

</html>



{{end}}


{{ define "hub-chatrooms"}}

    {{ range .Rooms }}

        {{ template "hub-chatroom-item" .Chatroom }}

    {{ end }}


{{ end }}


{{ define "hub-chatroom-item" }}


    <div 
        class="chatroom-item"
        hx-trigger="click"
        hx-post="/hub/join/{{ .RoomID }}"
        hx-ext="json-enc"
        hx-include="this"


        
    >
        <div id="chatroom-name">
            {{ .RoomName }}

        </div>

        <input type="hidden" name="room-id" value="{{ .RoomID }}">


    </div>

{{ end }}