{{ define "chatroom"}}

<!DOCTYPE html>

<html>

<head>
	<title> Chatroom </title>

    {{ template "html-head" . }}
    {{ template "htmx-json" . }}
    {{ template "htmx-ws" . }}

    <link rel="stylesheet" type="text/css" href="/css/chatroom.css">



</head>

<body>

    {{ template "top-header-bar" . }}

    <h2> 
        Welcome to the "{{ .RoomName }}" chat room!
    </h2>

    <br>
    <a href="/hub">Back To Hub</a>
    <br>

    <div 
        class="chat-room" 
        hx-trigger="load"
        hx-get="/chatroom/{{ .RoomID }}/get-ws"
        hx-target="this"
        hx-swap="outerHTML"
    >
    </div>


    <script>

        document.addEventListener("htmx:wsConnecting", function () {
            console.log('attemping to connect websocket')
        });
        document.addEventListener("htmx:wsOpen", function () {
            console.log('websocket opened!')
        });
        document.addEventListener("htmx:wsClose", function () {
            console.log('websocket closed!')
        });
        document.addEventListener("htmx:wsError", function () {
            console.log('websocket error!')
        });
        document.addEventListener("htmx:wsAfterSend", function (event) {
            console.log(event)
            console.log('websocket sent!')
        });
        document.addEventListener("submit", function (event) {
            event.preventDefault()
        });


    </script>


</body>

</html>

{{end}}


{{ define "chatroom-connection"}}

    <div
        class="chat-room"
        hx-ext="ws"
        ws-connect="/chatroom/{{ .RoomID }}/ws"
    >

        <div
            id="chat-history"
            hx-trigger="load"
            hx-get="/chatroom/{{ .RoomID }}/chat-history"
            hx-target="this"
            hx-swap="outerHTML"
        >
        </div>
    
        <div class="chat-messages-container">
            <div 
                id="chat-messages"
                hx-on::load="this.scrollTop = this.scrollHeight"
            >
            </div>
        </div>

        
        <form 
            id="chatroom-send-message-form" 
            hx-include="this"
            hx-ext="json-enc"
            hx-on::ws-before-send="if(this.elements['chat-message'].value === ''){event.preventDefault();};this.reset()"
            ws-send
        > 
            <input type="text" 
                name="room-id" 
                value="{{ .RoomID }}"
                hidden
            >
            <input type="text" 
                name="chat-message" 
                placeholder="Message here!" 
            >
            <button id="send-message-btn" type="submit"> Send! </button>

        </form>

    </div>


{{ end }}


{{ define "many-messages"}}

    {{ range .ChatMessages }}

        <div
            id="{{ .DivID }}"
            hx-swap-oob="{{ if .PrependMsg }}afterbegin{{ else }}beforeend{{ end }}"
        >
            {{ template "chat-message" .}}

        </div>

    {{ end }}

{{ end }}


{{ define "single-message" }}

    <div
        id="{{ .DivID }}"
        hx-swap-oob="{{ if .PrependMsg }}afterbegin{{ else }}beforeend{{ end }}"
    >

        {{ block "chat-message" . }}
            <div 
                id="chat-message"
            >
                {{if .DisplayName}} 
                    <span id="user-name"> 
                        {{ .DisplayName }}:
                    </span>
                {{ end }}

                <p id="message">
                    {{ .TextMessage }}
                </p>
            </div>
        {{ end }}

    </div>

{{ end }} 
