.chat-room{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 80%;

    gap: 1rem;

}

.chat-messages-container{
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 99dvw;
    max-width: 99dvw;

    /* border: 1px solid black; */
}

#chat-messages{
    display: flex;
    flex-direction: column;
    padding: 1rem;

    overflow-x: hidden;
    overflow-y: scroll;

    /* min-height: 50dvh;
    max-height: 60dvh; */
    height: 65dvh;
    min-width: 80%;
    max-width: 80%;

    background-color: grey;

    border: 1px solid black;
    border-radius: 0.5rem;


}

#chat-message{
    display: flex;
    flex-direction: row;

    overflow-wrap: break-word;
    max-width: 90%;
}

#chat-message #user-name{
    font-weight: 500;
    font-family: var(--font-1);

}

#chat-message #message{
    max-width: 100%;
    overflow-wrap: break-word;

    font-family: var(--font-1);
}