{{ define "chatroom"}}

<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8">
	<title> Chatroom </title>
	<link rel="stylesheet" type="text/css" href="/css/globals.css">

    <script 
        src="https://unpkg.com/htmx.org@1.9.10" 
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" 
        crossorigin="anonymous">
    </script>


</head>

<body></body>
    <h2> 
        Welcome to the "{{ .RoomName }}" chat room!
    </h2>

    <br>
    <a href="/hub">back to hub</a>
    <br>

    <button
        type="button"
    > 
        Connect to Chat
    </button>


    <div 
        class="chat-room" 
        hx-trigger="load"
        hx-get="/hub/ws/{{ .RoomID }}"
        hx-target="this"
        hx-swap="outerHTML"
    >
    </div>

    
    <script src="/js/htmx/ws.js"></script>
    <script src="/js/htmx/json-enc.js"></script>
    <script src="/js/localStorage.js"></script>
    
    <script>
        document.addEventListener("htmx:wsConnecting", function () {
            console.log('attemping to connect websocket')
        });
        document.addEventListener("htmx:wsOpen", function () {
            console.log('websocket opened!')
        });
        document.addEventListener("htmx:wsClose", function () {
            console.log('websocket closed!')
        });
        document.addEventListener("htmx:wsError", function () {
            console.log('websocket error!')
        });
        document.addEventListener("htmx:wsAfterSend", function (event) {
            console.log(event)
            console.log('websocket sent!')
        });
        document.addEventListener("submit", function (event) {
            event.preventDefault()
        });


    </script>


</body>

</html>


{{end}}



{{ define "chatroom-connection"}}

    <div
        class="chat-room"
        hx-ext="ws"
        ws-connect="{{ .ConnectionRoute }}"
    >

        <div
            id="chat-history"
            hx-trigger="load"
            hx-get="/hub/chatroom/{{ .RoomID }}/chat-history"
            hx-target="this"
            hx-swap="outerHTML"
        >
            
        </div>
    
        <div 
            id="chat-messages"
            style="border: 1px solid black; display: flex; flex-direction: column;"
        >
            
        </div>

        
        <form 
            id="text-box" 
            ws-send
            hx-include="this"
            hx-ext="json-enc"
            hx-swap="afterbegin"
        >
            <input type="text" hidden name="room-id" value="{{ .RoomID }}">
            <input type="text" name="chat-message" placeholder="Message here!">
            <button type="submit"> Send! </button>

        </form>

    </div>


{{ end }}


{{ define "many-messages"}}

    {{ range .ChatMessages }}

        <div
            id="{{ .DivID }}"
            hx-swap-oob="{{ if .PrependMsg }}afterbegin{{ else }}beforeend{{ end }}"
        >
            <div 
                id="chat-message"
                style="display: inline;"
            >
                {{if .DisplayName}} 
                    <span id="user-name" style="font-weight: bold;"> 
                        {{ .DisplayName }}:
                    </span> 
                {{ end }}

                <p id="message">
                    {{ .TextMessage }}
                </p>
            </div>


        </div>

    {{ end }}

{{ end }}


{{ define "single-message" }}

    <div
        id="{{ .DivID }}"
        hx-swap-oob="{{ if .PrependMsg }}afterbegin{{ else }}beforeend{{ end }}"
    >
        <div 
            id="chat-message"
            style="display: flex; flex-direction: row;"
        >
            {{if .DisplayName}} 
                <span id="user-name" style="font-weight: bold;"> 
                    {{ .DisplayName }}:
                </span> 
            {{ end }}

            <p id="message">
                {{ .TextMessage }}
            </p>
        </div>


    </div>

{{ end }} 
